.Coupon_body{
    display: flex;
    height: 600px;
    border: 5px solid #C2C2FF ;
    border-radius: 4px;
    margin: 20px;
    height: 80%;
}
.Coupon_content{
    flex: 1;
    padding: 10px;
}
.Coupon_content2{
    flex: 1;
    padding: 10px;
}
.Use_button{
    width: 100%;
    background-color: #F1DEFF;
}